---
layout: default
title: Édouard Urcades
permalink: /
---

<section class="center w-90 w-70-ns mw8 mt4 mh4 mv5-ns f6 f3-ns">

  <p class="lh-copy i ph1 ph2-ns">PROJECTS & WORKS ⤵︎</p>
  <section class="fl w-100 mb4">

    {% for feature in site.data.works %}
    <a href="{{ feature.link }}" class="link">
      <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
        <div class="aspect-ratio aspect-ratio--{{ feature.ratio }} {{ feature.noshow }}">
          <span style="background-image:url({{ feature.img-link }});" class="flex items-center {{ feature.display }} hide-child cover bg-center aspect-ratio--object"><p class="w-100 center child f2 tc white flare">{{ feature.name }}</p></span>
        </div>
      </div>
    </a>
    {% endfor %}

    <p class="cf lh-copy i ph1 ph2-ns pt5">RELATED PRACTICES ⤵︎</p>

    {% for feature in site.data.related %}
    <a href="{{ feature.link }}" class="link">
      <div class="fl w-100 w-50-m w-50-l pa1 pa2-m pa2-l">
        <div class="aspect-ratio aspect-ratio--{{ feature.ratio }}">
          <span style="background-image:url({{ feature.img-link }});" class="flex items-center dt hide-child cover bg-center aspect-ratio--object"><p class="w-100 center child f2 tc white flare">{{ feature.name }}</p></span>
        </div>
      </div>
    </a>
    {% endfor %}

  </section>
  <p class="lh-copy i ph1 ph2-ns">I'M A PHYSICAL—DIGITAL PRODUCT DESIGNER NÉ INDUSTRIAL DESIGNER IN NYC.</p>
  <p class="lh-copy i ph1 ph2-ns pb5">IF YOU WANT, <a href="mailto:mail@edouard.us" class="black-40 link hover-black">SEND A LETTER</a> OR <a href="https://twitter.com/edouerd" class="black-40 link hover-black">@ ME</a>. THANKS FOR VISITING, STAY A WHILE.</p>

  {% include header.html %}

</section>
